* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.tab {
  padding: 1rem;
  flex-basis: 8rem;
  text-align: center;
}
.tab.active {
  border-bottom: 2px solid black;
}
.game-container {
  padding: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats-is-active .stats-container {
  display: flex;
}
.game-is-active .game-container {
  display: flex;
}

h1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}
.foosball-table {
  width: 600px;
  border: 5px solid black;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.foosball-table__background { 
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./foosball.jfif) center / cover no-repeat;
  z-index: -1;
}
.foosball-table input {
  width: 8rem;
  padding-right: 0.2rem;
  border-width: 3px;
  box-shadow: 0 0 20px -3px black;
}
.foosball-table button {
  width: 8rem;
  border-width: 3px;
  box-shadow: 0 0 20px -3px black;
}

input,
select {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid black;
  width: 10rem;
  font-size: 2rem;
  text-align: center;
}
select {
  text-align: left;
  width: 14rem;
}
select:focus,
select:active {
  outline: 2px solid #04aa6d;
}

button {
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.button {
  border: 2px solid black;
  background: white;
  width: 8rem;
}
.button:focus,
.button:active {
  outline: 2px solid #04aa6d;
}

.stats-container {
  width: 100%;
  padding: 2rem;
  min-height: 80vh;
  display: none;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.stats-container div:not(.stats-info) {
  flex: 0 0 48%;
}
.stats-info {
  flex: 1 0 100%;
  text-align: center;
}
.stats-info-button {
  margin: 0 auto;
  display: block;
  color: white;
  background: #04aa6d;
}
.stats-info-text {
  text-align: left;
  display: none;
}
.stats-info-text.is-visible {
  display: inline-block;
}
h2 {
  text-align: center;
}

/* Scores */

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}
td.bold {
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  line-height: 1;
}
.form:after {
  content: "➠";
}
.form.hot {
  font-size: 40px;
  color: green;
  transform: rotate(-90deg);
}
.form.warmer {
  font-size: 30px;
  color: yellowgreen;
  transform: rotate(-90deg);
}
.form.warm {
  font-size: 30px;
  color: yellowgreen;
  transform: rotate(-90deg);
}
.form.cold {
  font-size: 30px;
  color: #ede73b;
  transform: rotate(90deg);
}
.form.colder {
  font-size: 30px;
  color: orange;
  transform: rotate(90deg);
}
.form.freezing {
  font-size: 40px;
  color: red;
  transform: rotate(90deg);
}

@media (max-width: 600px) {
  h1 {
    width: 100vw;
  }
  select {
    font-size: 1rem;
  }
  .foosball-table {
    width: 100vw;
  }
  .stats-is-active .stats-container {
    display: block;
    padding: 0.5rem;
  }
  .stats-container .standings {
    transform: scale(0.83);
    transform-origin: left top;
  }
}
